body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    /* padding: 100px; */
}

.whole-grid {
    background-color: white;
    display: flex;
    width: 700px;
    border-radius: 15px;
    flex-shrink: 0;
    padding: 70px 70px 70px 0;
    position: absolute;
    /* gap: 50px; */
}

.img-container {
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
    /* background-color: lightpink; */
}

.img-container img {
    position: absolute;
}

.woman-img {
    width: 100%;
    top: 0;
    left: -100px;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 400;
}

.pattern-img {
    width: 200%;
    top: -100px;
    right: 0;
    left: -450px;
    bottom: 0;
    margin: auto;
    z-index: 0;
}

.box-img {

    width: 150px;
    top: 75px;
    right: 0;
    left: -345px;
    bottom: 0;
    margin: auto;
    z-index: 500;
}

.info-container {
    width: 50%;
    display: grid;
    gap: 13px;
    /* padding: 50px; */
}

.p1 {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    color: hsl(238, 29%, 16%);
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: -10px;
}

.p2 {
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(237, 12%, 33%);
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    gap: 0px;
    padding-bottom: 13px;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    flex-shrink: 0;
    cursor: pointer;
}

.arrow-conatiner {
    margin-right: 10px;
}