body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    height: 100vh;
}

h1, p, div {
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    display: flex;
    background-color: white;
    width: 820px;
    height: 480px;
    border-radius: 25px;
    flex-shrink: 0;
}

.box-container {
    width: 0;
    height: 100%;
    position: relative;
    z-index: 200;
}

.box-container img {
    width: 150px;
    position: absolute;
    top: 70px;
    bottom: 0;
    left: -73px;
    right: 0;
    margin: auto;
}

.img-container {
    width: 50%;
    height: 100%;
    position: relative;
    /* background-color: lightpink; */
    overflow: hidden;
}

.img-container img {
    position: absolute;
}

.img-woman {
    width: 100%;
    left: -120px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
}

.img-pattern {
    width: 220%;
    left: -570px;
    right: 0;
    top: -115px;
    bottom: 0;
    margin: auto;
    z-index: 0;
}

.info-container {
    /* background-color: lightblue; */
    width: 38%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px 100px 0px 50px;
}

.info-container h1 {
    color: hsl(238, 29%, 16%);
    margin-bottom: 25px;
    margin-top: -10px;
}

.qa-container {
    color: hsl(237, 12%, 33%);
    font-size: 12px;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.question-container {
    margin-bottom: 20px;
    cursor: pointer;
}

.question-container div {
    cursor: initial;
}

.info-container p {
    width: 95%;
    font-size: 11px;
    color: hsl(240, 6%, 50%);
    margin-top: 12px;
    line-height: 16px;
}

.info-container img {
    float: right;
    margin-right: 10px;
}